<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand" href="#">
          <img src="./assets/images/image.png" alt="Konato Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Property</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
              </li>
          </ul>
          <div class="d-flex align-items-center">
              <span class="text-white me-3 d-none d-md-block">Call Us: +10 (78) 356 3276</span>
              <button class="btn sign-in-btn text-white">Sign In</button>
          </div>
      </div>
  </div>
</nav>