<div class="search-section">
  <div class="container">
    <div class="row g-3">
      <div class="col-lg-6 col-md-6">
        <div class="input-group">
          <span class="input-group-text bg-white border-end-0">
            <i class="fas fa-search text-muted"></i>
          </span>
          <input
            type="text"
            class="form-control border-start-0 search-input"
            placeholder="Enter Keyword.."
          />
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="input-group">
          <button
            class="btn btn-light dropdown-toggle w-100 search-input"
            type="button"
            id="rentDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Rent
          </button>
          <ul class="dropdown-menu w-100" aria-labelledby="rentDropdown">
            <li><a class="dropdown-item" href="#">Rent</a></li>
            <li><a class="dropdown-item" href="#">Buy</a></li>
            <li><a class="dropdown-item" href="#">Sell</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="input-group">
          <button
            class="btn btn-light dropdown-toggle w-100 search-input"
            type="button"
            id="bedDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-bed me-2"></i> Bed
          </button>
          <ul class="dropdown-menu w-100" aria-labelledby="bedDropdown">
            <li><a class="dropdown-item" href="#">1 Bed</a></li>
            <li><a class="dropdown-item" href="#">2 Beds</a></li>
            <li><a class="dropdown-item" href="#">3 Beds</a></li>
            <li><a class="dropdown-item" href="#">4+ Beds</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-1 col-md-3">
        <div class="input-group">
          <button
            class="btn btn-light dropdown-toggle w-100 search-input"
            type="button"
            id="bathDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-bath me-2"></i> Bath
          </button>
          <ul class="dropdown-menu w-100" aria-labelledby="bathDropdown">
            <li><a class="dropdown-item" href="#">1 Bath</a></li>
            <li><a class="dropdown-item" href="#">2 Baths</a></li>
            <li><a class="dropdown-item" href="#">3 Baths</a></li>
            <li><a class="dropdown-item" href="#">4+ Baths</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-1 col-md-3">
        <button class="btn search-btn w-100">Search</button>
      </div>
    </div>
  </div>
</div>
