<div class="agents">
  <h2>Our Agents</h2>
  <p>
    Get started by choosing from one of our pre-built page templates <br />
    to showcase your properties
  </p>

  <div style="height: 20px"></div>
  <div class="agents-grid">
    <div class="agent-card">
      <div class="agent-image">
        <img src="./assets/images/team1.jpg" alt="Agent" />
        
      </div>
      <h3><a href="#" tabindex="-1">Holly Graham</a></h3>
      <p>Real Estate Agent</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
    </div>

    <div class="agent-card">
      <div class="agent-image">
        <img src="./assets/images/team2.jpg" alt="Agent" />
      </div>
      <h3><a href="#" tabindex="-1">Holly Graham</a></h3>
      <p>Real Estate Agent</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
    </div>

    <div class="agent-card">
      <div class="agent-image">
        <img src="./assets/images/team3.jpg" alt="Agent"/>
      </div>
      <h3><a href="#" tabindex="-1">Holly Graham</a></h3>
      <p>Real Estate Agent</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
    </div>

    <div class="agent-card">
      <div class="agent-image">
        <img src="./assets/images/team4.jpg" alt="Agent" />
      </div>
      <h3><a href="#" tabindex="-1">Holly Graham</a></h3>
      <p>Real Estate Agent</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
    </div>
  </div>
</div>
