<div class="explore">
  <div class="explore1">
    <h2>
      Explore<br />
      by Property Type
    </h2>
    <div style="height: 10px"></div>

    <p>
      Get started by choosing from one of our pre-built page templates to
      showcase your properties
    </p>
    <div style="height: 30px"></div>

    <a href="#" class="explore-btn">View All Property</a>
  </div>

  <div class="property-type">

    <div class="property-categories">
      <img src="./assets/images/property1.svg" alt="" />
      <h5><a href="#">Home &amp; Appartment</a></h5>
    </div>  
    
    <div class="property-categories">
      <img src="./assets/images/property2.svg" alt="" />
      <h5><a href="#">Vila</a></h5>

    </div>  
    
    
    <div class="property-categories">
      <img src="./assets/images/property3.svg" alt="" />
      <h5><a href="#">Studio</a></h5>

    </div> 
     <div class="property-categories">
      <img src="./assets/images/property4.svg" alt="" />
      <h5><a href="#">Office</a></h5>

    </div> 
    
   
   


  </div>
</div>
