<div class="services-area">
    <h2>How we help people?</h2>
    <div class="services-container">
<div class="services">
    <img src="./assets/images/services1.svg" alt="">
    <h2>Sell home or office</h2>
    <p>
        Get started by choosing from one of our pre-built page templates to showcase your properties
    </p>

</div>  
<div class="services">
    <img src="./assets/images/services2.svg" alt="">
    <h2>Rent home or office</h2>
    <p>
        Get started by choosing from one of our pre-built page templates to showcase your properties
    </p>

</div> 

<div class="services">
    <img src="./assets/images/services3.svg" alt="">
    <h2>Find next</h2>
    <p>
        Get started by choosing from one of our pre-built page templates to showcase your properties
    </p>

</div>  
  </div>

</div>